.home {
    display: flex;
    border-radius: 20px;
}

.homeContainer {
    flex: 6;
    font-family: 'JosefinSans-Regular' !important;
}

.findOrBooked__body {
    display: flex;
    align-items: center;
    column-gap: 30px;
    padding-left: 30px;
    padding-top: 25px;
}

.style__link {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border-bottom: 2px solid #000;
    cursor: pointer;
}

.view__link {
    color: rgba(137, 137, 137, 0.40);
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    cursor: pointer;
}

.find__body {
    box-shadow: var(--color-shadow);
    padding: 20px 15px 15px 15px;
    border-radius: 8px;
    background-color: var(--secondary-background-color);
    color: var(--text-color);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-left: 30px !important;
    margin-top: 15px !important;
    margin-right: 35px !important;
}

.find__search {

    display: flex;

    column-gap: 50px;

}

.find__search p {
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.277px;
}

.search {
    display: flex;
    column-gap: 20px;
}

.select {
padding: 5px 30px !important;
    border-radius: 35px !important;
    background-color: rgba(151, 151, 151, 0.14) !important;
    -webkit-border-radius: 35px !important;
    -moz-border-radius: 35px !important;
    -ms-border-radius: 35px !important;
    -o-border-radius: 35px !important;
}

.select:focus {
    /*background-color: #f5f0f0cb;
        */
    box-shadow: 0 0 0 0.25rem transparent !important;
    border: none !important;
    transform: scale(1.00);
    box-shadow: 0 0 0 0.25rem transparent !important;
    -webkit-transform: scale(1.00);
    -moz-transform: scale(1.00);
    -ms-transform: scale(1.00);
    -o-transform: scale(1.00);
}
.find__filter{
    display: flex;
margin-top: 20px;
column-gap: 50px;
}
.tab {
    margin-left: 25px !important;
    width: 97% !important;
    margin-top: 40px !important;
    font-family: 'JosefinSans-Regular' !important;
    box-shadow: var(--color-shadow);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    margin-bottom: 10px;
}
.tabline{
    border-bottom:4px solid rgba(217, 217, 217, 0.22);
    padding: 20px 15px 0 25px;
    display: flex;
    column-gap: 70px;
}
.tabline__load,
.tabline__lanes{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.tabline__load p,
.tabline__lanes p{
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    color: #606060;
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.277px;
}
.tabline__load{
    border-bottom: 5px solid #000;
    padding-bottom: 5px;
}
.tabline__load h2,
.tabline__lanes h2{
    color: #000;
        font-size: 25px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 0.277px;
}
.block {
    display: block;
    margin-bottom: 20px;
}

.none {
    display: none;
}
.bookrow{
    width: 100%;
}
.map{
    position: relative;
}
.path{
    position: absolute;
    top:50%;
    width: 100px;
    left: 40%;
}
.mapimg{
    width: 100%;
    padding-top: 35px;
    padding-bottom: 20px;
}
.head{
    background-color:rgba(217, 217, 217, 0.13) ;
    width: 10px !important;
    
}
.book:hover{
    background-color: rgba(217, 217, 217, 0.40) !important;
    cursor: pointer;
}
.errbook{
    text-align: center !important;
    margin-left:500px;
}
@media (min-width:0) and (max-width:600px) {
        .home {
                display: flex;
                flex-direction: column-reverse;
            }
                        .errbook {
                            text-align: center !important;
                            margin-left: 50px;
                            font-size: 17px;
                        }
    .find__search,
    .search,
    .find__filter{
        display: flex;
        flex-direction: column;
    }
    .today{
        margin-bottom: 15px;
    }
    .find__search div{
        margin-bottom: 10px;
    }
    .tabline{
        column-gap: 25px;
    }
    .tabline__lanes h2{
        font-size: 20px;
    }
    .tab{
        width: 100% !important;
        margin-left: 0px !important;
    }
    .find__body{
        width: 100% !important;
        margin:20px 0  !important;
margin-left: 15px !important;
width: 92% !important;
        
    }
    .findOrBooked__body{
        text-align: center !important;
        margin: auto !important;
    }
    .booktab,
    .map{
        margin-left: 10px !important;
    }
    .map{
        margin-left: 15px !important;
    }
}
.edit__body{
    background-color: #fff;
    border: 1px solid #eee;
    padding: 10px 0 5px 5px;
    box-shadow: var(--color-shadow);
}
.edit__body p{
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
.edit__body hr{
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}
.inprogress {
    color: #FF8201 !important;
}