.home {
    display: flex;
    border-radius: 20px;
}
.homeContainer {
    flex: 6;
}

.total{
    display: flex;
   margin-top: 70px;
   column-gap: 15px !important;
font-family: 'JosefinSans-Regular' !important;
}
.dash{
    margin-left: 20px !important;
    margin-right: 20px !important;

}
.load__details{
    background-color: var(--secondary-background-color);
    padding: 15px;
    box-shadow: 0 0 10px rgba(70, 69, 69, 0.2);
    width: 190px;
    text-align: center;
    height: 245px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.allloard{
    background-image: linear-gradient(to bottom right, #FF8201,#FFB971);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    color: #fff;
    margin-bottom: 90px;
}
.allloard__para{
    text-align: left;
    padding: 8px;
    margin-bottom: 0 !important;
    text-transform: capitalize;
}
.loardnum{
    padding-bottom: 5px;
}
.view__btn{
      color: #FF8201;
      text-decoration: none;
      background-color: var(--background-content);
      padding: 10px 30px;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
} 
.loadprog,
.loaddash,
.totalexpenses{
    padding-top: 10px;
}
.loadprog__title,
.loaddash__title,
.totalexpenses__title{
    color: #FF8201;
    font-weight: bold;
}
.loadprog__para,
.loaddash__para,
.totalexpenses__para{
    color: #FF8201;
    text-transform: capitalize;
    background-color: #FFF6ED;
    padding: 3px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-size: 12px;
}
.loadprog__desc{
    font-size: 12px;
    color: #777;
    margin-bottom: 40px;
}
.loaddash__para{
    background-color: #F0F9F0;
    color: #67C568;
    margin-bottom: 85px !important;
}
.totalexpenses__para{
    margin-bottom: 85px !important;
}
.booking{
    box-shadow: 0 0 10px rgba(70, 69, 69, 0.2) !important;
    width: 445px !important;
    height: 245px !important;
    margin-top: 70px !important;
    border-radius: 12px !important ;
    -webkit-border-radius: 12px !important ;
    -moz-border-radius: 12px !important ;
    -ms-border-radius: 12px !important ;
    -o-border-radius: 12px !important ;
    font-family: 'JosefinSans-Regular' !important;
    background-color: var(--secondary-background-color);
}
.left{
    column-gap: 20px;

}
.booking__title{
    text-transform: capitalize;
    padding: 15px;
    font-weight: bold;

}
.loadbook{
    display: flex;
    gap: 5%;
    padding-left: 40px;

}
.loads__body{
    background-color: var(--background-content);
    padding: 40px;
    text-align: center !important;
}
.loads__title{
    font-weight: bold;
    color: #FF8201;
}
.loads__para{
    text-align: center !important;
    color: #FF8201;
    text-transform: capitalize;
    margin-top: 5px;
}
.chart{
    box-shadow: 0 0 10px rgba(70, 69, 69, 0.2);
    margin-top: 30px !important;
    border-radius:12px ;
    -webkit-border-radius:12px ;
    -moz-border-radius:12px ;
    -ms-border-radius:12px ;
    -o-border-radius:12px ;
    background-color: var(--secondary-background-color);
}
.chart__body{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    font-family: 'JosefinSans-Regular' !important ;
    
}
.chart__para{
    text-transform: capitalize;
    font-weight: bold;
}
.chart__status{
    display: flex;
    column-gap: 20px !important;
}
.table{
    box-shadow: 0 0 10px rgba(70, 69, 69, 0.2);
    margin-top: 40px !important;
    border-radius: 12px !important;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    -ms-border-radius: 12px !important;
    -o-border-radius: 12px !important;
    height: 500px !important;
    margin-bottom: 20px;
    font-family: 'JosefinSans-Regular' !important;
    width: 100% !important;
    background-color: var(--secondary-background-color);
    color: #029F04;
}
.edit__btn{
    background-color: #FF8201;
    color: #fff !important;
    padding: 5px !important;
    border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
}
.payment,
.currentpay{
    box-shadow: 0 0 10px rgba(70, 69, 69, 0.2) !important;
        width: 445px !important;  
        margin-top: 70px !important;
        border-radius: 12px !important;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    -ms-border-radius: 12px !important;
    -o-border-radius: 12px !important;
    font-family: 'JosefinSans-Regular' !important;
    padding: 15px;
    background-color: var(--secondary-background-color);
}
.currentpay{
    margin-top: 50px !important;
}
.payment__date{
    display: flex;
}
.select{
    width: 30% !important;
    height: 30px;
    padding-top: 2px !important;
    border: none !important;
    color: #777;
}
.payment__title{
    text-transform: capitalize;
    font-weight: bold;
}
.payment__icon{
    width: 20px;
    margin-right: 10px;
}
.payment__para{
    color: #777;
}
.totalPayment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.totalPayment__para{
    color: #777;
    width: 150px;
    margin-bottom: 5px !important;
}
.totalPayment__link{
    color: #FF8201;
    text-decoration: none;
}
.price{
    background-color: var(--background-price);
    color: var(--color-price);
    padding: 10px 35px;
}
.order{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e1e9e1;
    padding: 12px 15px 0px 15px;
    text-align: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-bottom: 15px !important;
}
.order__date,
.order__price{
    color: #777;
}
.order__status{
    padding: 2px 10px;
    color: #fff;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.paid{
background-color: #029F04;
padding: 2px 20px;
}
.waiting{
background-color: #0090D0;
}
.pending{
    background-color: #FF8201;
}
.map{
    font-family: 'JosefinSans-Regular' !important;
}
.create{
    margin-top: 20px !important;
    display: flex;
    align-items: center;
    column-gap: 20px !important;
}
.createticket,
.add{
    text-decoration: none;
    padding: 5px 30px !important;
    border: 1px solid #FF8201 !important;
    color: #fff !important;
    border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
}
.createticket,
.add:hover{
    color: #FF8201 !important;
    background-color: var(--secondary-background-color) !important;
}
.createticket:hover{
    background-color: #FF8201 !important;
    color: #fff !important;
}
.add{
    color: #fff !important;
    background-color: #FF8201 !important;
    margin-left: 20px;
}
.loads__map{
        box-shadow: 0 0 10px rgba(70, 69, 69, 0.2) !important;
            margin-top: 30px !important;
            border-radius: 12px !important;
            -webkit-border-radius: 12px !important;
            -moz-border-radius: 12px !important;
            -ms-border-radius: 12px !important;
            -o-border-radius: 12px !important;
            font-family: 'JosefinSans-Regular' !important;
            padding: 15px;
            background-color: var(--secondary-background-color);

}
.googlemap{
    background-color: var(--background-content);
    box-shadow: 0 0 10px rgba(110, 109, 109, 0.2) !important;
    margin-bottom: 20px;
    border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
    
}
.iframe{
    width: 100%;
    padding: 15px;
    border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
}
.map__details{
    padding: 10px;
}
.map__title{
    font-weight: bold;
}
.deliveredorder{
    display: flex;
    padding: 10px;
    margin-top: 20px;
    
    gap: 10%;
}
.map__date{
    margin-bottom: 20px;
}
.roads{
    position: relative;

}
.roads::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 50px;
    top: 20px;
    left: 10px;
    color: #FF8201;
    background-color: #FF8201;
}
.roads::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 40px;
    top: 85px;
    left: 10px;
    background-color: #E0E0E0;
}
.roads p{
    width: 20px;
    height: 20px;
    background-color: #FF8201;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: 5px !important;
    margin-bottom: 40px !important;
}
.second,
.third{
    margin-bottom: 0px;
    margin-left: 1px !important;
}
.third{
    background-color: #E0E0E0 !important;
}
.map__time{
    font-size: 10px ;
}
.map__para{
    margin-bottom: 0 !important;
    font-weight: bold;
}
.statusOfOrder p{
    margin-bottom: 30px !important;
    font-size: 20px;
}
@media (min-width:0px) and (max-width:600px) {
    .home {
        display: flex;
        flex-direction: column-reverse;
    }

    .total {
        display: flex;
        flex-direction: column;
    }

    .load__details {
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
    }
.chart__status{
    display: none;
}
.booking,
.payment,
.currentpay{
    width: 100% !important;
}
.loadbook {
    display: flex;
    gap: 5%;
    padding-left: 10px;
    justify-content: center;

}

.loads__body {
    background-color: #F3F3F3;
    padding: 20px;
    text-align: center !important;
}

.order__date,
.order__price{
    font-size: 10px;
}

.select{
    width: 45% !important;
}
.createticket,
.add{
padding: 5px 15px !important;
margin: auto !important;
}
.add{
    margin-left: 20px !important;
}
.allloard{
    height: 100px !important;
}
.loadprog__para,
.loaddash__para,
.totalexpenses__para{
    width: 150px !important;
    margin: auto !important;
    margin-bottom: 100px !important;
}
.loadprog__para{
    margin-bottom: 10px !important;
}
.loadprog__desc{
    margin-bottom: 70px !important;
}
.price{
    padding-right: 20px;
}

}
@media (min-width:600px) and (max-width:900px) {
    .dash,
    .left{
        display: flex !important;
        flex-direction: column !important;  
    }
.homeContainer{
    width: 75%;
}
  .loadbook {
      display: flex;
      gap: 5%;
      padding-left: 10px;
      justify-content: center;
  }
                  .booking,
                  .payment,
                  .currentpay {
                      width: 100% !important;
                  }
  .add{
    margin-left: 20px;
  }
.create div{
    margin: auto !important;
}
.createticket,
.add {
    padding: 10px 30px !important;
}
.view__btn{
    padding: 10px;
}
.loadprog__desc{
    font-size: 12px !important;
    margin-bottom: 30px !important;
}
.allloard{
    margin-bottom: 90px !important;
}
.allloard__para{
    font-size: 12px;
}
}
@media (min-width:900px) and (max-width:1400px) {
.createticket,
    .add {
        padding: 10px 30px !important;
    }
        .create div,
                .loads {
            margin: auto !important;
        }
                .booking,
                .payment,
                .currentpay {
                    width: 100% !important;
                }
}
@media (min-width:1400px) and (max-width:1600px) {
/*         .left {
            display: flex !important;
            flex-direction: column !important;
            width: 100% !important;
                background-color: #FF8201;
                padding-right: 0px !important;
        }
                .total{
                    display: grid;
                    grid-template-columns: repeat(4,auto);
                }
                .chart,
                .booking,
                .payment,
                .currentpay,
                .table{
                    width: 800px !important;
                }
                .map{
                    width: 250px !important;
                    padding-left: 0 !important;
                } */
                .dash{
                    display: flex;
                    flex-direction: column;
                }
               .left{
                column-gap: 25% !important;
               }
               .total,
               .chart,
               .table{
                width: 700px  !important;
               }
               .booking,
               .payment,
               .currentpay{
                width: 450px !important;
               }
               .map{
                width: 100% !important;
               }
}