.home {
    display: flex;
    border-radius: 20px;
}

.homeContainer {
    flex: 6;
    font-family: 'JosefinSans-Regular' !important;
}
.welcome{
    padding-left: 300px;
    display: flex;
    justify-content: space-between;
    padding-right: 35px;
    margin-top: 30px;
}
.welcome__body{
    display: flex;
}
.welcome__body p{
    color: #000;
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.277px;
}
.welcome__body h3{
    color: #000;
        font-size: 23px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 0.277px;
}
.create__btn {
    --color: #fff;
    padding: 0.5em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid #FF8201;
    font-family: inherit;
    color: var(--color);
    z-index: 1;
    background-color: #FF8201;
    text-decoration: none;
}

.create__btn::before,
.create__btn::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.create__btn::before {
    top: -1em;
    left: -1em;
}

.create__btn::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.create__btn:hover::before,
.create__btn:hover::after {
    height: 410px;
    width: 410px;
}

.create__btn:hover {
    color: #FF8201;
}

.create__btn:active {
    filter: brightness(.8);
}
.shipmentfilter{
    margin-top: 35px;
    margin-bottom: 20px;
}
.inputBox_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 300px !important;
    width: fit-content;
    height: fit-content;
    padding: 5px 15px;
    border-radius: 8px;
    background-color: rgba(217, 217, 217, 0.27);
    overflow: hidden;
    border: none !important;
    outline: none !important;
}

.inputBox:hover {
    border: none !important;
    outline: none !important;
}

.inputBox:focus {
    border: none !important;
    outline: none !important;
}

.search_icon {
    height: 1em;
    padding: 0 0.5em 0 0.8em;
    fill: #abb2bf;
}

.inputBox {
    background-color: transparent;
    color: #000;
    outline: none !important;
    width: 100%;
    border: none !important;
    padding: 0.5em 1.5em 0.5em 0;
    font-size: 1em;
}

input::placeholder {
    color: #000 !important;
}
.filter__para{
    color: #717070;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.277px;
        margin-top: 25px;
}
.filter__body{
    display: flex;
    border: 1px solid #abb2bf;
    padding: 15px;
    justify-content: space-between;
    margin-bottom: 15px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
cursor: pointer;
}
.filter__body p{
    padding-bottom: 0;
        margin-bottom: 0;

}
.alllink{
        text-decoration: none;
}
.view__link p,
.ship__para{
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.277px;
}
.all p{
    text-decoration: none;
    color: #FF8201;
}
.style__link p{
        padding-bottom: 0;
            margin-bottom: 0;
    color: #FF8201;
        font-size: 14px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 0.277px;
}
.bar{
    width: 90px;
    height: 4px !important;
}
.arrive{
    display: flex;
    column-gap: 10px;
}
.destination__body{
        box-shadow: var(--color-shadow);
            padding: 20px 30px 15px 20px;
            border-radius: 8px;
            margin-bottom: 25px;
}
.divide{
    display: flex;
    justify-content: space-between;
}
.destination__para{
    color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.277px;
}
.destination__title{
    color: #000;
        font-size: 15px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 0.277px;
        margin-bottom: 25px;
}
.destination__time{
    color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.277px;
}
.out__body,
.in__body{
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-bottom: 15px;
}
.out__body p,
.in__body p{
    color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 0.277px;
        margin-bottom: 0;
}
.date__para{
    padding-bottom: 0;
    margin-bottom: 5px;
}
.view__btn{
    border-radius: 8px;
        background:  #FFF;
        box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.13);
        text-decoration: none;
        color: #FF8201;
        padding: 10px 20px;
        transition: 1s ease;
}
.view__btn:hover img{
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transition: 1s ease;
}
.support{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.support div p{
    margin-bottom: 0;
}
.supportus{
    color: #FF8201;
    font-weight: bold;
}
@media (min-width:0px) and (max-width:600px) {
   .welcome{
    padding-left: 13px !important;
    padding-right: 15px !important;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    
   } 
   .create__btn{
    width: 100% !important;
    text-align: center;
    margin-bottom: 10px;
   }
   .inputBox_container{
    width: 100% !important;
   }
   .filter__body{
    width: 100%  !important;
   }
   .divide{
    display: flex;
    flex-direction: column;
   }
   .bar{
    width: 50% !important;
   }
.out__body{
    margin-top: 15px;
}
}
@media (min-width:600px) and (max-width:900px) {
.inputBox_container {
        width: 100% !important;
    }
    .welcome{
        padding-left: 70px;
        padding-right: 70px;
        margin-bottom: 10px;
    }
    
}
@media (min-width:900px) and (max-width:1200px) {
    .inputBox_container {
        width: 100% !important;
    }

    .welcome {
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 10px;
    }

}
@media (min-width:1200px) and (max-width:1400px) {
    .inputBox_container {
        width: 100% !important;
    }

    .welcome {
        padding-left: 90px;
        padding-right: 90px;
        margin-bottom: 10px;
    }

}
@media (min-width:1400px) and (max-width:1600px) {

    .welcome {
        padding-left: 70px;
        padding-right: 70px;
        margin-bottom: 10px;
    }

}
@media (min-width:1910px) {
    .welcome {
            padding-left: 315px;
            padding-right: 170px;
            margin-bottom: 10px;
        }
}