.home {
    display: flex;
    border-radius: 20px;
}

.homeContainer {
    flex: 6;
}
.expenses{
    padding: 30px;
    width: 100%;
    gap: 3% ;
    font-family: 'JosefinSans-Regular';
}
.expenses__chart{
    padding: 30px;
    width: 100%;
}
.expenses__body,
.chart,
.expenses__table{
        box-shadow: var(--color-shadow);
            padding: 15px;
            border-radius: 12px;
            background-color: var(--secondary-background-color);
            color: var(--text-color);
}
.expenses__title{
    text-transform: capitalize;
    font-weight: bold;
    color:var(--text-color) ;
}
.expenses__price{
    font-weight: bold;
    color: #FF8201;
    font-size: 45px;
}
.oldexpenses{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.oldexpenses__plus{
  background-color: #FFF6ED;
  padding: 5px 20px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  color: #FF8201;
}
.oldexpenses__para{
    text-transform: capitalize;
    color: #777;
}
.payment{
    padding: 20px;
    padding-right: 30px;
    width: 100%;
    font-family: 'JosefinSans-Regular';
}
.payment__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select {
    width: 10% !important;
    height: 30px;
    padding-top: 2px !important;
    border: none !important;
    color: #777;
}
.payment__title{
    text-transform: capitalize;
    font-weight: bold;
}
.t{
    display: flex;
    justify-content: space-between !important;
}
.table{
    font-family: 'JosefinSans-Regular';
}
@media (min-width:0px) and (max-width:600px) {
    .home {
            display: flex;
            flex-direction: column-reverse;
        }
        .expenses,
        .expenses__chart,
        .payment{
            padding: 0 !important;
            margin: 0 !important;
        }
                .expenses__body{
                    margin-bottom: 10px !important;
                }
                .payment{
                    margin-top: 30px !important;
                }
                
}
@media (min-width:600px) and (max-width:900px) {
    .expenses{
        display: grid !important;
        grid-template-columns: repeat(2,auto) !important;
        width: 600px !important;
    }
        .expenses__chart,
        .payment {
            width: 600px !important;
        }
        .pen{
            font-size: 20px !important;
        }
}
@media (min-width:900px) and (max-width:1200px) {
    .expenses {
            display: grid !important;
            grid-template-columns: repeat(3, auto) !important;
            width: 970px !important;
        }
                .expenses__chart,
                .payment {
                    width: 970px !important;
                }
}