.modal{
    font-family: 'JosefinSans-Regular';
}
.modal__title{
    text-transform: capitalize;
    font-weight: bold;
}
.label{
    text-transform: capitalize;
}
.select {
    display: block !important;
    width: 100% !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: var(--bs-body-color) !important;
    appearance: none !important;
    background-color: var(--bs-body-bg) !important;
    background-clip: padding-box !important;
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
    border-radius: var(--bs-border-radius) !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    -moz-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    -ms-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    -webkit-border-radius: var(--bs-border-radius) !important;
    -moz-border-radius: var(--bs-border-radius) !important;
    -ms-border-radius: var(--bs-border-radius) !important;
    -o-border-radius: var(--bs-border-radius) !important;
}
.btns{
    display: flex;
    column-gap: 20px !important;
}
.submit__btn,
.cancel__btn,
.addressA__btn,
.addressB__btn{
    border: 1px solid #FF8201;
    background-color: #fff !important;
    padding: 5px 30px !important;
    border-radius: 8px;
    color: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    text-transform: capitalize !important;
    text-decoration: none !important;
}
.submit__btn,
.addressA__btn{
    background-color: #FF8201 !important;
}
.cancel__btn,
.addressB__btn{
    color: #FF8201 !important;
}
.addressA__btn{
    padding: 5px 20px !important;
}

.iframe{
    border-radius: 12px !important;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    -ms-border-radius: 12px !important;
    -o-border-radius: 12px !important;
    margin-top: 10px;
}