.navbar {
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    font-family: 'JosefinSans-Regular';
    border-bottom: 1px solid #f7f7f767;
}
.wrapper {
    width: 100%;
    padding: 5px 5px 0px 0px !important;
    display: flex;
    align-items: center !important;
    justify-content: space-between;
}
.logo__body{
    padding-top: 15px;
    padding-left: 30px;
}

.logo__title{
text-align: center;
font-weight: bold;
color: #000;
font-size: 20px;
}
.para{
    padding-left: 30px;
    color: #777;
    margin-bottom: 0 !important;
}
.items {
    display: flex;
    align-items: center;
}
.item {
    display: flex;
    align-items: center;
    margin-right: 0px;
    position: relative;
    column-gap: 50px;
}
.navlink{
    text-decoration: none;
    color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
}
.icon {
    font-size: 20px;
    margin-left: 10px;
}
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
 .counter {
     width: 15px;
     height: 15px;
     background-color: red;
     border-radius: 50%;
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 10px;
     font-weight: bold;
     position: absolute;
     top: -5px;
     right: -5px;
 }
 .display{
    display: none;
 }
 .dropdown__img{
    background-color: transparent !important;
    border: none !important;
    color: var(--text-color) !important;
    margin-left: 20px;
    margin-right: 30px;
 }
 .dropmenu{
    background-color: var(--secondary-background-color);
 }
 .menu__link{
    text-decoration: none !important;
    color: #FF8201;
 }
.logo{
    width: 70px;
    text-align: center;
    margin-left: 5px !important;
}
 .none{
    display: none;
 }
@media (min-width:0) and (max-width:600px) {
    .side{
                        position: fixed;
                            left: 0;
                            bottom: 0;
                            background-color: #e7e5e5;
                            width: 100%;
                            padding-left: 0px;
                            z-index: 1000;
                            font-family: 'JosefinSans-Regular' !important;
                            height: 60px;
                            display: flex;
                            column-gap: 20px !important;
                            padding-left: 10px;
                            text-align: center;
    }

}

@media (min-width:600px) {
    .icon {
            display: none !important;
        }
    
}