.home {
    display: flex;
    border-radius: 20px;
}

.homeContainer {
    flex: 6;
        font-family: 'JosefinSans-Regular';
}
.profile{
    margin: 50px !important;

}
.edit{
color: #000;
    font-size: 27px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 30px;
    margin-top: 30px;
}
.user__info{
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-top: 25px;
    padding-left: 30px;
}
 .btnImg {
    border: 1px solid transparent;
    width: 10px;
    height: 100px;
    cursor: pointer;
    font-size: large;
    background-color: #dad3d3 !important;
    margin-top: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.fileImg {
    display: none;
}

.name,
.emphone{
    display: flex;
    gap: 2%;
    margin-top: 70px;
}
.emphone{
    margin-top: 40px;
}
.full{
    width: 400px !important;
}
.input{
    width: 840px !important;
}
.formgroup {
    padding-left: 30px;
}
.emphone{
    padding-left: 0 !important;
        margin-left: 30px;
        padding-bottom: 15px !important;
        border-bottom: 1px solid #D0D0D0;
        width: 840px !important;
}

.company {
    margin-left: 30px;
            padding-bottom: 20px !important;
                border-bottom: 1px solid #D0D0D0;
                width: 840px !important;
                padding-top: 20px;
}

.company h3 {
    color: #1C1C1C;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.company__body {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-top: 20px;
}

.company__body p {
    color: #1C1C1C;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0;
}

.company__body img {
    background-color: #E3E3E3;
    padding: 5px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.cancel__btn {
    --color: #FF8201;
    padding: 0.8em 2.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid #FF8201;
    font-family: inherit;
    color: var(--color);
    z-index: 1;
    background-color: #fff;
    text-decoration: none;
    margin-right: 30px;
}
.save__btn{
    --color: #fff;
        padding: 0.5em 1.7em;
        background-color: transparent;
        border-radius: .3em;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: .5s;
        font-weight: 400;
        font-size: 17px;
        border: 1px solid #FF8201;
        font-family: inherit;
        color: var(--color);
        z-index: 1;
        background-color: #FF8201;
        text-decoration: none;
        text-align: right;
}
.btns{
margin-left: 40%;
margin-top: 30px;
margin-bottom: 30px;
}