
@media (min-width:768px) {
.sidebar {
    flex: 0;
    border-right: 0.5px solid rgb(230, 227, 227);
    
    background-color: var(--primary-color);
    transition: all .5s ease-in-out;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 20px;
    width: 120px;
    font-family: 'JosefinSans-Regular' !important;
}

.sidebar:hover {
    flex: 1;
    transition: all .5s ease-in-out;
    width: 198px !important;
}

.sidebar:hover span {
    opacity: 1 !important;
    transition: all .5s ease-in-out;

}
.top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-top: 20px
}
 hr {
     height: 0;
     border: 0.5px solid rgb(230, 227, 227);
 }
  .center {
      padding-left: 6px;
  }
   ul {
       list-style: none;
       margin: 0;
       padding: 0;
   }

   .title {
       font-size: 10px;
       font-weight: bold;
       color: #fffefe !important;
       margin-top: 15px;
       margin-bottom: 5px;
       display: none;
   }

   li {
       display: flex;
       align-items: center !important;
       cursor: pointer;
       margin: 5px 8px 0 !important;
       color: #fff;
       text-decoration: none;
       position: relative;
       text-transform: uppercase;
       cursor: pointer;
       font-size: .7142em;
       padding: 15px 8px !important;
       line-height: 1.625rem !important;
   }

   li:hover {
       background-color: #ffb293;
       border-radius: 25px 25px 25px 0;
   }

   li:hover::before {
       content: "";
       position: absolute;
       background-color: transparent;
       bottom: -48px;
       height: 48px;
       left: 0;
       width: 20px;
       border-top-left-radius: 25px;
       box-shadow: 0 -18px 0 0 #ffb293;
   }

   .icon {
       font-size: 23px;
       color: #fff;
   }

   span {
       font-size: 13px;
       font-weight: 600;
       color: #ffffff;
       margin-left: 10px;
       opacity: 0;
       transition: all .5s ease-in-out;
       width: 10;

   }

   .bottom {
       display: flex;
       flex-direction: column;
       margin: 10px;
       justify-content: flex-end;
       margin-top: 200px;
   }

   .colorOption {
       width: 20px;
       height: 20px;
       border-radius: 5px;
       border: 1px solid #fff;
       cursor: pointer;
       margin: 5px;
   }

   .colorOption:nth-child(1) {
       background-color: whitesmoke;
   }

   .colorOption:nth-child(2) {
       background-color: #333;
   }

   .side-bar__logo {
       width: 100px;
       height: auto;
       margin-top: 10px;
       padding: 5px;

   }

   .logo__title {
       text-align: center;
       color: #fff !important;
       font-size: 20px;
       font-weight: bold;
   }
}

        
@media (max-width:767px) {
        .center {
        
                position: fixed;
                left: 0;
                bottom: 0;
                background-color: var(--primary-color);
                width: 100%;
                padding-left: 0px;
                z-index: 1000;
                font-family: 'JosefinSans-Regular' !important;
                height: 70px;
                display: flex;
            }
            .center div{
                margin: auto !important;
            }
        
            .center span {
                opacity: 1;
                color: #fff;
        
            }
        
        
            ul {
                display: flex;
                list-style: none;
                column-gap: 15px;
                margin: 0;
                padding: 0 !important;
                
            }
        
            li {
                display: flex;
                flex-direction: column;
                align-items: center !important;
                cursor: pointer;
                margin: 5px 0px 0 !important;
                color: #fff;
                text-decoration: none;
                position: relative;
                text-transform: uppercase;
                cursor: pointer;
                font-size: .7142em;
                padding: 15px 8px !important;
            }
        
            .profile {
                display: none;
            }
                        hr,
                        .top {
                            display: none;
                        }
}
