
.react-tel-input{
width: 400px !important;
}

.react-tel-input .form-control{
        width: 400px !important;
        display: block !important;
        font-size: 1rem !important;
        font-weight: 400 !important;
        line-height: 1.5 !important;
        appearance: none !important;
        background-color: var(--secondary-background-color) !important;
        background-clip: padding-box !important;
        border: 1px solid #dee2e6 !important;
        border-radius: 0.375rem !important;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
        -webkit-border-radius: 0.375rem !important;
        -moz-border-radius: 0.375rem !important;
        -ms-border-radius: 0.375rem !important;
        -o-border-radius: 0.375rem !important;
        outline: none !important;
        margin-bottom: 50px;
        -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
        -moz-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
        -ms-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
        -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}
.cont{
  background-color: #F8F8F8 !important;
  padding: 10px !important;
  border: 1px solid #F8F8F8 !important;
  border-radius: 12px !important;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  -ms-border-radius: 12px !important;
  -o-border-radius: 12px !important;
  width:475px !important;
}
.shipt{
  width: 100% !important;
}
.input-group{
  width: 475px !important;
padding-top: 5px;
}
.weight{
  background-color: #F8F8F8 !important;
}
.tex{
  width: 50px !important;
}
.in{
  height: 50px !important;
}
.form-control:focus{
        background-color: #F8F8F8 !important;
        border: 1px solid #F8F8F8 !important;
        transform: scale(1.00) !important;
        box-shadow: none !important;
        -webkit-transform: scale(1.00) !important;
        -moz-transform: scale(1.00) !important;
        -ms-transform: scale(1.00) !important;
        -o-transform: scale(1.00) !important;
}
.progress-bar{
background: linear-gradient(90deg, #FFF 0%, #FF8201 111.16%) !important;
  height: 10px !important;
}
.progress {
  margin-top: 0px !important;
  height: 10px !important;
}
.cellWithStatus{
  width: 80% !important;
}


/* The switch - the box around the slider */
.switch {
  --width-of-switch: 5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
  margin-left: 8px !important;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: .4s;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

input:checked+.slider {
  background-color: #303136;
}

input:checked+.slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
.stepper div div div div{
  background-color: #FF8201 !important;
}
.overview_p__3DStZ .progress-bar{
  height: 10px !important;
  background-color: #FF8201;
}
@media (min-width:0px) and (max-width:600px) {
  .react-tel-input .form-control{
    width: 265px !important;
  }
  .switch{
    --width-of-switch: 3em;
    margin-right: 5px !important;
  }
  
}
@media (min-width:600px) and (max-width:900px) {
  .react-tel-input .form-control {
    width: 500px !important;
  }
.formgroup,
.react-tel-input{
  width: 500px !important;
}
}
input[type=date],
input[type=tel]{
color: var(--text-color) !important;
}
.react-tel-input .selected-flag {
  color: var(--text-color) !important;
}
::placeholder{
  color: var(--text-color) !important;
}




.active{
  font-weight: 800 !important;
}
.Paied{
  border-radius: 8px;
  background: rgba(47, 211, 93, 0.10);
text-align: center !important;
  padding: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  color: #2FD35D;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}
.css-levciy-MuiTablePagination-displayedRows{
  display: none !important;
}
.MuiTablePagination-root{
  position: absolute !important;
  top: 0 !important;
  left: 80%;
}
.MuiIconButton-root{
  background-color: #FF8201 !important;
  color: #fff !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  padding: 5px !important;
}
.Mui-disabled{
background-color: rgba(134, 134, 134, 0.18)!important;
color: #fff !important;
padding: 5px !important;
}

.form-select{
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23343a40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e") !important;
}
.css-1q1u3t4-MuiTableRow-root{
  border-bottom: none !important;
}
.css-1ex1afd-MuiTableCell-root,
.css-1ygcj2i-MuiTableCell-root{
  border-bottom: none !important;
}
.overview_tab__cell__MsCZB{
  width: 500px !important;
}
.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root{
  background-color: #fff !important;
  color:  #000 !important;
}

.css-1ex1afd-MuiTableCell-root{
      font-family: 'JosefinSans-Regular' !important;
      color: #000 !important;
        font-size: 14px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: normal !important;
        letter-spacing: 0.277px !important;
}
.overview_recent__zgNTt div svg{
  color: #FF8201 !important;
}
.overview_recent__zgNTt div .ico{
  color: #ddd !important;
}

.css-1ygcj2i-MuiTableCell-root{
color: #000 !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 800 !important ;
  line-height: normal !important;
  letter-spacing: 0.277px !important;
}
.css-1ex1afd-MuiTableCell-root{
  color: #898989 !important;
    font-size: 17px !important;
    font-style: normal !important;
    line-height: normal !important;
    letter-spacing: 0.277px !important;
    font-family: 'JosefinSans-Light' !important;
}
.css-1ex1afd-MuiTableCell-root h5{
    font-weight: 800 !important;
    color:  #000 !important;
}
.shipmentprog .progress-bar{
  height: 4px !important;
  background: #FF8201 !important;
}
.formgroup{
  padding-left: 30px;
}
.us{
padding-left: 0 !important;
margin-left: 30px;
padding-bottom: 25px !important;
  border-bottom: 1px solid #D0D0D0;
  width: 840px !important;
}
.emaili,
.loci{
  position: relative;
}
.emaili img,
.loci img{
  position: absolute;
  top:35px;
  z-index: 100;
left: 10px;
}
.emaili .form-control{
  padding-left: 40px;
}

.loci img{
  position: absolute;
    top: 87px;
    z-index: 100;
    left: 10px;
}
.loci .form-control{
  padding-left: 40px;
}
.loci{
  padding-left: 0 !important;
    margin-left: 30px;
    padding-bottom: 25px !important;
    border-bottom: 1px solid #D0D0D0;
    width: 840px !important;
}
.pass{
  margin-left: 30px;
  margin-top: 30px;
}
.p{
  margin-top: 30px;
}
.passwordd{
  margin-top: 0 !important;
}
@media (min-width:0) and (max-width:600px) {
  .MuiTablePagination-root {
    position: relative !important;
    top: 0 !important;
    left: 0%;
  }

  .inputBox {
    width: 100% !important;
  }
  .cont,.input-group,
  .shipt{
    width: 100% !important;
  }
}
 #mapDiv{
  width: '100%' !important;
  height: '400px' !important;
  margin-top: 20px !important;
} 
.routee{
  background-color: #ff0080;
  position: relative;
  z-index: 999999;
}

/* .mapboxgl-marker:nth-child(2) svg {
  fill: rgb(16, 16, 88) !important;

} */
.mapboxgl-marker:nth-child(3) svg{
  fill: rgb(40, 95, 40) !important;
  
}
.map{
  background-color: #f2f2f2;
  width: 92% !important;
      margin-left: 100px !important;
}
.map>*{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.allinputsmap{
  background-color: #fff;
  padding: 24px 24px 24px 16px;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, .16);
}
.inputmap{
  width: 100% !important;
  border: 1px solid #ccc !important;
  padding: 5px  !important;
}
.routemap{
  background-color: #fff;
  margin: 10px;
  padding: 10px;
}
.startmap,
.endmap{
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 15px;
}
.leavemap{
  font-size: 17px;
}
.map__para{
  text-align: center;
  margin-top: 70px;
  color: #838383;
}
.map__car{
  display: flex;
  column-gap: 8px;
}
.dis_para,
.arr__para{
  font-weight: 100;
  font-size: 14px;
  color: #777;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.dis__span,
.arr__span{
  font-weight: bold;
  color: #000;
  font-size: 14px;
}
.carico{
  font-size: 37px !important;
  color: #e47e18 !important;
}